body {
    background-color:#eaeaea;
    background-image:url('https://i.postimg.cc/nzy08DvX/cnegsd.jpg');
    background-attachment:fixed;
    background-position:center center;
    background-repeat:repeat;
    background-size:auto;
    color:#4f4e4e;
    font-family: 'Karla', sans-serif;
    font-size:11px;
    line-height:calc(11px + 6px);
    font-weight:300;
    text-align:justify;
    margin:0;cursor:url(https://i.postimg.cc/C1wtkYhP/kuwo.png), auto;
}

a {
    color:#ffff;
    text-decoration:none;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

    a:hover {
        color:#fff;
        text-decoration:none;
    }
    
p a, .side-desc a, li a
{box-shadow:#e7e7e7 0px -1px 0px inset;}
p a:hover, .side-desc a:hover, li a:hover
{box-shadow:#e0ebed 0px -12px 0px inset;}

img {
    border:none;
    text-decoration:none;
}

b, strong, bold {
    color:#e79280;
    font-weight:800;
}

i, em, italic {
    color:#e79280;
}

u {
    text-decoration:none;
}

    .firstletter, u {
        display:block;
        float:left;
        padding:12px 14px;
        background:#ffffff;
        color:#ff;
        font-weight:800;
        font-family:'Poppins', sans-serif;
        text-transform:uppercase;
        font-size:calc(11px + 4px);
        margin:0px 10px 0px 0px;
        border:1px solid #e7e7e7;
        border-radius:3px;
    }

s, strike {
    text-decoration-color:#e80;
}

small, sub, sup, big {
    font-size:11px;
    line-height:calc(11px + 6px);
    vertical-align:baseline;
}

blockquote {
    padding:0px 5px 0px 15px;
    border-left:1px solid #e7e7e7;
    margin-left:5px;
    margin-right:0px;cursor:url(https://i.postimg.cc/C1wtkYhP/kuwo.png), auto;
}

    blockquote img {
        max-width:360px;
        height:auto;
    }
    
        blockquote blockquote {
            margin-right:0px;
        }
        
            blockquote blockquote img {
                max-width:350px;
                height:auto;
                margin-top:10px;
            }

/* --- sidebar --- */

.sidebar {
    position:absolute;
    z-index:500;
    top:100px;
    right:450px;
    width:368px;
    height:400px;cursor:url(https://i.postimg.cc/C1wtkYhP/kuwo.png), auto;
}

    .sidebar:after {
            content:'';
            position:absolute;
            top:205px;
            left:55px;
            width:160px;
            height:100px;
            background-color:rgba(204,209,212,0.8);
            border-radius:3px;
        }

    .side-img {
        position:absolute;
        z-index:12;
        top:40px;
        left:20px;
        width:180px;
        height:180px;
        background-image:url('https://i.postimg.cc/3J5JHs1r/sa.png');transition-duration: 1s;
        background-position:center center;
        background-repeat:no-repeat;
        background-size:cover;
        border-radius:3px;
        border:1px solid #e7e7e7;
    }
.side-img:hover {background-image:url('https://i.postimg.cc/sDYffTHY/asd.png');transition-duration: 2s;}
        .side-img:before {
            content:'';
            position:absolute;
            top:-45px;
            left:80px;
            width:40px;
            height:80px;
            background-color:rgba(107, 107, 107, 0.59);
            transform:skew(-3deg,-3deg);
        }
        
    .side-desc {
        position:absolute;cursor:url(https://i.postimg.cc/C1wtkYhP/kuwo.png), auto;
        z-index:15;
        top:240px;
        left:80px;
        width:90px;
        height:auto;
    }
    
    .side-title {
        position:absolute;cursor:url(https://i.postimg.cc/C1wtkYhP/kuwo.png), auto;
        z-index:10;
        top:170px;
        left:190px;
        width:130px;
        height:80px;
        font-size:20px;
        line-height:44px;
        font-weight:800;
        font-family:'Poppins', sans-serif;
        text-align:center;
        letter-spacing:-0.5px;
        word-spacing:3px;
        color:#c3c3c3;
        border-radius:3px;
        background-color:rgba(138, 138, 138, 0.66);
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
    }
    
    .side-nav {
        position:absolute;
        top:80px;
        right:65px;
        width:80px;
        height:80px;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        align-content:space-between;cursor:url(https://i.postimg.cc/C1wtkYhP/kuwo.png), auto;
    }
    
        .side-nav a {
            display:block;
            width:30px;
            height:30px;
            font-size:23px;
            color:#656565;
            cursor:pointer;
            text-align:center;
            line-height:30px;cursor:url(https://i.postimg.cc/C1wtkYhP/kuwo.png), auto;
        }
        
            .side-nav a:hover {
                transform:scale(1.2,1.2);
            }